
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Calibri, Arial;
}

header {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    background-image: url('header.jpg');
    background-position: center;
    position: fixed;
    top: 0
}

#header-top {
    background: orange;
    height: 50px;
    font-weight: bold;
}

#header-bottom-left {
    background: lightskyblue;
    padding: 5px;
    width: 150px;
    position: absolute;
    bottom: 0;
    height: 22px;
}

#header-bottom-right {
    background:limegreen;
    padding: 5px;
    width: 150px;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 22px;
}

#header-bottom-center {
    border: 1px solid black;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 160px;
    right: 160px;
    height: 20px;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin-top: 300px;
    margin-left: 10%;
    width: 80%;
}

nav {
    background: dodgerblue;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 1;
    transition: 0.3s;
    opacity: 95%;
    overflow: hidden;
}

.nav-item {
    margin-left: 100px;
    width: 100%;
    font-size: 1.5em;
}

.nav-item a {
    color: white;
    text-decoration: none;
    border-bottom: 3px dotted white;
}

.nav-button {
    margin-top: 15px;
    margin-left: 18px;
    color: white;
    cursor: pointer;
}